VITE_FIREBASE_API_KEY=AIzaSyDJOtHU6FY4WosW_exH1q-CN6JyU0OmXZI
VITE_FIREBASE_AUTH_DOMAIN=navi-kid-school-van-tracker.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=navi-kid-school-van-tracker
VITE_FIREBASE_STORAGE_BUCKET=navi-kid-school-van-tracker.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=997311667098
VITE_FIREBASE_APP_ID=1:997311667849:web:8074b1381220c37cbe7823
VITE_GOOGLE_MAPS_API_KEY=AIzaSyAtbPYMF9ak5WZYcT5SMum9yFQ5O0Z83K8
